@font-face {
  font-family: 'loreal-texg';
  src: url('fonts/texgyreadventor-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/texgyreadventor-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/texgyreadventor-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/texgyreadventor-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/texgyreadventor-regular.svg#eb38d5b06bf3b7ce91bf1ab81bd95287') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'loreal-texg';
  src: url('fonts/texgyreadventor-bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/texgyreadventor-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/texgyreadventor-bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/texgyreadventor-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/texgyreadventor-bold.svg#410bc7c0a96055f314865205a0a58b43') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

