@import 'normalize';
@import "~susy/sass/susy";
@import 'bourbon/bourbon';

@import 'fonts.scss';

$susy: ( flow: ltr, columns: 12, gutters: .25, math: fluid, output: float, container-position: center, container: 80%, global-box-sizing: border-box, debug: ( image: hide, color: rgba(#66f, .25), output:background, toggle: top right));

$map: layout(12 .25 inside);

$medium-screen : 1000px;
$small-screen : 730px;
$mobile-screen : 505px;

// Padding / Margin inside Box
@include border-box-sizing;

body {
    font-family:TeX Gyre Adventor;
}

h1 {
    font-size:1.8em;
    font-weight:600;
    line-height: 1.2em;
}

h3 {
    font-size:1.2em;
    font-weight:600;
}

p {
    line-height:1.6em;
}

main {
    height:100vh;
    width:100%;
    overflow:hidden;
    background:#F4F2F3;
    @include display(flex);
    @include justify-content(center)
    @include align-items(center)
    @media (max-width:$small-screen){
        overflow:auto;
        padding-bottom:100px;
    }
}

#loreal {
    width:90%;
    height:80%;
    background:white;
    position:relative;
    @media (max-width:$small-screen){
        height:95%;
    }
}

.first,
.second {
    position:absolute;
    section {
        position:relative;
    }
}

.first {
    @include span(5)
    height:100%;
    background-image:url('../images/sideBg.jpg');
    background-size:cover;
    section {
        padding-left: 12%;
        padding-top:8%;
        @media (max-width:$small-screen){
            padding-left:0%;
            text-align:center;
        }
        img {
            width:143px;
            @media (max-width:$small-screen){
                width:93px;
            }
        }
    }
    @media (max-width:$small-screen){
        @include span(12)
    }
}

.second {
    height:100%;
    width:100%;
    @include display(flex)
    @include align-items(center)
    @include justify-content(center)
    @include flex-direction(column)
    @media (max-width:$small-screen){
        height:auto;
        padding-top:40px;
    }
}

.center-first {
    width:90%;
    padding:20px 0;
    > div {
        &:last-of-type {
            @include span(6)
            padding-left:25px;
            @include last;
            border-bottom:0.5px solid #F3F3F3;
            @media (max-width:$small-screen){
                @include span(12)
                padding-top:10px;
            }
            ul {
                li {
                    display:inline-block;
                    text-transform:uppercase;
                    padding-bottom:10px;
                    margin-right:50px;
                    letter-spacing:0.15em;
                    cursor:pointer;
                    font-size:0.9em;
                    &.active {
                        border-bottom:5px solid #F3F3F3;
                    }
                    @media (max-width:$small-screen){
                        margin-right:25px;
                        color:white;
                    }
                }
            }
        }
    }
}

.center {
    background:white;
    width:90%;
    @include display(flex)
    @media (max-width:$small-screen){
        @include flex-direction(column)
    }
    .left {
        @include span(6)
        @media (max-width:$small-screen){
            @include span(12)
            height:300px;
        }
        box-shadow: -11px 7px 14px 0px rgba(0,0,0,0.50);
        height:500px;
        > div {
            &:first-of-type {
                height:65%;
                @media (max-width:$small-screen){
                    height:55%;
                }
                background-size:cover;
                background-position:50% 50%;
                @include transition(background-image 0.5s ease-in-out)
                @include transition-delay(0.2s)
                @include transform(translate3d(0,0,0))
            }
            &:last-of-type {
                height:35%;
                @media (max-width:$small-screen){
                    height:45%;
                }
                background:black;
                color:white;
                @include display(flex)
                @include flex-direction(column)
                @include justify-content(center)
                
                article {
                    text-align:left;
                    @include container(90%)
                    h3 {
                        padding-bottom:7px;
                    }
                    @media (max-width:$small-screen){
                        padding:10px;
                    }
                }
            }
        }
    }
    .right {
        @include span(6)
        @include last;
        @media (max-width:$small-screen){
            @include span(12)
            padding:20px;
        }
        padding-left:25px;
        background:white;
        position:relative;
        .published_date {
            padding:15px 0;
            opacity:0.4;
            font-weight:600;
        }
        > p {
            padding-bottom:40px;
        }
        .bottom_controls {
            height:auto;
            background:white;
            width:100%;
            position:absolute;
            bottom:0;
            @media (max-width:$small-screen){
                position:relative;
            }
            > div {
                &.player_controls {
                    position: relative;
                    width: 265px;
                    height: 50px;
                    bottom:20px;
                    text-align: left;
                    > div {
                        &.controls {
                            display: inline-block;
                            padding: 6px 0px 0  0px;
                            height: 100%;
                            width: 43px;
                            > img {
                                position: absolute;
                                cursor: pointer;
                                &#play {
                                    -webkit-transition: all 0.3s ease-in-out;
                                    &:hover {
                                        opacity: 0.5;
                                        -webkit-transition: all 0.3s ease-in-out;
                                    }
                                }
                                &#pause {
                                    left: 0px;
                                    display: none;
                                    -webkit-transition: all 0.3s ease-in-out;
                                    &:hover {
                                        opacity: 0.5;
                                        -webkit-transition: all 0.3s ease-in-out;
                                    }
                                }
                                &#loading {
                                    -webkit-animation: spin 1s linear infinite;
                                    -moz-animation: spin 1s linear infinite;
                                    animation: spin 1s linear infinite;
                                    left: 5px;
                                    bottom: 14px;
                                    display: none;
                                }
                            }
                        }
                        &.share {
                            display: inline-block;
                            padding: 0 10px;
                            position: relative;
                            bottom: 17px;
                        }
                        &.volume {
                            display: inline-block;
                            padding: 0 10px;
                            position: relative;
                            bottom: 15px;
                            cursor: pointer;
                            &:hover {
                                .volume_slider {
                                    input {
                                        width: 64px;
                                        -webkit-transition: width 0.4s ease-in-out;
                                        transition: width 0.4s ease-in-out;
                                    }
                                }
                                input[type=range]::-webkit-slider-thumb {
                                    opacity: 1;
                                    -webkit-transition: opacity 0.4s ease-in-out;
                                    transition: opacity 0.4s ease-in-out;
                                }
                                input[type=range]::-moz-range-thumb {
                                    opacity: 1;
                                    transition: opacity 0.4s ease-in-out;
                                }
                            }
                            > img {
                                display: inline-block;
                                width: 19px;
                                &.muted {
                                    width: 23px;
                                }
                            }
                            > div {
                                &.volume_icon {
                                    width: 20px;
                                    height: 20px;
                                    background-image: url('../images/volume_icn.png');
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    position: relative;
                                    bottom: -14px;
                                    left: -3px;
                                    -webkit-touch-callout: none;
                                    -webkit-user-select: none;
                                    -khtml-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    &.muted {
                                        background-image: url('../images/volume_mute_icn.png');
                                        width: 24px;
                                    }
                                }
                                &.volume_slider {
                                    display: inline-block;
                                    position: relative;
                                    left: 26px;
                                    bottom: 9px;
                                    cursor: pointer;
                                    input {
                                        width: 0px;
                                        -webkit-transition: width 0.4s ease-in-out;
                                        transition: width 0.4s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
                &.timeline {
                    position: relative;
                    width: 100%;
                    height: 44px;
                    background: #818181;
                    cursor: pointer;
                    border: 3px solid black;
                    > div {
                        &.timecode {
                            position: absolute;
                            right: 0;
                            bottom: 45px;
                            font-size: 0.7em;
                            color: black;
                        }
                        &.timeline_inner {
                            position: absolute;
                            background: white;
                            width: 0%;
                            opacity: 0.7;
                            height: 100%;
                            -webkit-transition: all 0.2s ease-in-out;
                            transition: all 0.2s ease-in-out;
                        }
                        &.buffered {
                            position: absolute;
                            height: 100%;
                            width: 0%;
                            background: rgba(0, 0, 0, 0.21);
                            pointer-events: none;
                        }
                        &.current_time_span {
                            position: absolute;
                            width: auto;
                            font-size: 0.6em;
                            letter-spacing: 0.1em;
                            height: auto;
                            padding: 5px 5px;
                            background: black;
                            color: black;
                            z-index: 22;
                        }
                    }
                }
            }
        }
    }
}






// Customize Input Range
input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;

}

input[type=range]::-moz-range-track {
    height: 4px;
    background: #ddd;
    position: relative;
    bottom: 1px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 5px;
    border-radius: 0%;
    background: goldenrod;
    margin-top: -7px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 5px;
    border-radius: 0%;
    background: goldenrod;
    margin-top: -7px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]:-moz-focusring {
    outline: 0px solid white;
    outline-offset: -1px;
}



.markers {
    width: 1px;
    height: 100%;
    background: white;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#wave-timeline {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
canvas {
    height: 100%!important;
}

wave {
    height: 76% !important;
    margin-top: 6px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-document url-prefix() {
    .volume_slider {
        bottom: 3px!important;
    }
}




