@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';
$headerSize: 50px;
$contentheight: 240px;
body {
    font-family: Proxima Nova;
    background: #EFE8F2;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

#loreal {
    width: 404px;
    height: 349px;
    position: relative;
    background: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-box-shadow: 10px 10px 42px 12px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 42px 12px rgba(0, 0, 0, 0.27);
    box-shadow: 10px 10px 42px 12px rgba(0, 0, 0, 0.27);
    border: 5px solid black;
    .container {
        @include outer-container() padding: 0 0px;
    }
    section {
        &.top {
            position: relative;
            z-index: 2;
            padding-top: 20px;
            > div {
                &.left {
                    @include span-columns(6);
                    > div {
                        &.title {
                            width: 55%;
                            padding-left: 27px;
                            position: absolute;
                            bottom: -157px;
                            p {
                                font-family: Baskerville;
                                font-size: 1.6em;
                                font-weight: 100;
                                line-height: 31px;
                                text-align: left;
                                overflow-wrap: break-word;
                            }
                        }
                        &.description {
                            position: relative;
                            top: 126px;
                            width: 144%;
                            padding-left: 28px;
                            p {
                                text-align: left;
                                font-size: 0.8em;
                                line-height: 1.3em;
                            }
                        }
                    }
                }
                &.right {
                    @include span-columns(6);
                    img {
                        width: 151px;
                        height: 151px;
                        -webkit-box-shadow: 7px 10px 24px -11px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 7px 10px 24px -11px rgba(0, 0, 0, 0.75);
                        box-shadow: 7px 10px 24px -11px rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
        &.bottom {
            width: 90%;
            height: auto;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 2;
            > div {
                &.player_controls {
                    position: relative;
                    width: 200px;
                    height: 50px;
                    bottom: 10px;
                    text-align: left;
                    > div {
                        &.controls {
                            display: inline-block;
                            padding: 6px 10px 0 10px;
                            height: 100%;
                            width: 43px;
                            > img {
                                position: absolute;
                                &#pause {
                                    left: 17px;
                                    display: none;
                                }
                            }
                        }
                        &.share {
                            display: inline-block;
                            padding: 0 10px;
                            position: relative;
                            bottom: 17px;
                        }
                    }
                }
                &.timeline {
                    position: relative;
                    width: 100%;
                    height: 44px;
                    background: #818181;
                    cursor: pointer;
                    border: 3px solid black;
                    > div {
                        &.timecode {
                            position: absolute;
                            right: 0;
                            bottom: 45px;
                            font-size: 0.7em;
                            color: white;
                        }
                        &.timeline_inner {
                            position: absolute;
                            background: black;
                            width: 50%;
                            opacity: 0.2;
                            height: 100%;
                            -webkit-transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    > div {
        &.blur_element {
            position: absolute;
            width: 110px;
            height: 100%;
            background: black;
            right: 0;
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 330%;
            background-position: 50% 50%;
            -webkit-filter: blur(9px);
            overflow: hidden;
            &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1;
                background: rgba(0, 0, 0, 0.58);
            }
        }
    }
}

.markers {
    width: 1px;
    height: 100%;
    background: white;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#wave-timeline {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

canvas {
    height: 100%!important;
}

wave {
    height: 76% !important;
    margin-top: 6px;
}
