#image {
	width:200px;
	height:200px;
}

#timeline {
    width: 500px;
    height: 80px;
    background: white;
    position: relative;
    cursor:pointer;
    border:1px solid silver;
}

#timeline_inner {
    position: absolute;
    background: black;
    width: 0%;
    opacity:0.2;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
}

.markers {
    width: 2px;
    height: 100%;
    background: black;
    position: absolute;
    pointer-events:none;
    z-index:10;
}

.markers:first-of-type {
	opacity:0;
}

#wave-timeline {
	position:absolute;
	height:100%;
	width:100%;
	opacity:0.8;
}

canvas {
	height:100%!important;
}

wave {
	height:100%!important;
}